/*=============================================css reset start=============================================*/

html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    direction: rtl;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/*=============================================css reset end=============================================*/


/*=============================================font start=============================================*/

@font-face {
    font-family: myFont1;
    src: url(./assets/fonts/IRANSansWeb.ttf);
}

body {
    font-family: myFont1 !important;
}


/*=============================================font end=============================================*/

.App {
    padding: 15px;
}

.logo {
    display: block;
    margin: 10px auto;
    width: 45%;
}


#buyGif {
    width: 100%;
}